    header {
        position: sticky;
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #085017;
        padding: 15px 20px;
        border-radius: 8px;
        margin-bottom: 30px;
        
    }
    body{
        background-color: #085f22;
       
    }
    .hero{
        color: #3eac5f;
        padding: 25px;
        margin: 30px;
        text-align: center;
        font-size: 50px;
    }
    
    .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #085017;
        padding: 15px 20px;
        border-radius: 8px;
        margin-bottom: 30px;
        }
    .logo{
        color: #b1f1d9;
        font-size: 1.5rem;
        font-weight: bold;
        }
    /* menu{ 
        /* color: rgb(151, 20, 20);
        text-decoration: none;
        padding: 8px 12px;
        border-radius: 4px;
        transition: background-color 0.3s;
        background-color: white
        } */


    .a{
        color: #b1f1d9;
        text-decoration: none;
        padding: 8px 12px;
        border-radius: 4px;
        transition: background-color 0.3s
    }
    .a:hover{
        background-color: #0c2b09;
        color: azure;
    }
     .General_container{
            display: flex;
            padding:0 ;
            margin: 0px ;
            gap: 5px;
            justify-content: center;
            top: 0;
       
        }
    .Side{
        background-color: #0e531d;
        color: white;
        padding:15px;
        border-radius: 4px;
        text-align: center;
        margin: 10px 0;
        /* height: 30px; */
        justify-content: center;
        height: 60px;
        
        }
        .Side:hover{
            background-color: #0b3502;
        }
        .Content{ background-color: #3eac5f;
        color: white;
        padding:15px;
        border-radius: 4px;
        text-align: center;
        margin: 10px 0;
        flex-grow: 1;
        height: 500px;
        }
        .Content:hover{
            background-color: #0b3502;
        }
        .card{
            background-color: rgb(21, 82, 6);
            border-radius: 5px;
            padding: 12vw;
            color: #3eac5f;
            /* margin: 2px; */

        }
        .Gen_card{
            display: flex;
            padding: 5vw ;
            margin: 5vh ;
            gap: 5px;
            justify-content: center;
        }
        
    